<div class="form">
  <span class="titulo">Dados Pessoais</span>
  <form>
    <div class="label-container">
      <label for="" class="label">
        <span>Nome:</span><input type="text" />
      </label>
      <label for="" class="label">
        <span>Sobrenome:</span><input type="text" />
      </label>
    </div>
    <label for="" class="label nascimento">
      <span>Nascimento:</span>
      <span class="space"></span>
      <span class="align">
        <input type="text" maxlength="2" placeholder="dd">
        <input type="text" maxlength="2" placeholder="mm">
        <input type="text" maxlength="4" placeholder="yyyy">
      </span>
    </label>
    <label for="" class="label">
      <span>RG:</span>
      <input type="text" name="" id="">
    </label>
    <label for="" class="label">
      <span>CPF:</span>
      <span class="space" style="width: 53%;"></span>
      <span class="align">
        <input type="text" maxlength="11" width="">
        -
        <input type="text" maxlength="2" style="width: 20px;">
      </span>
    </label>
    <div class="label-container">
      <button type="reset">Limpar</button>
      <span style="width: 50px;"></span>
      <button type="submit">Enviar</button>
    </div>
  </form>
</div>
