<div class="form">
  <span class="titulo">Dados Pessoais</span>
  <form>
    <div class="label">
      <label for=""> Nome: <input type="text" maxlength="55"/> Sobrenome: <input type="text" maxlength="55"> </label>
    </div>
    <div class="label">
        <label for="">
            Nascimento:
            <input type="text" placeholder="dd" maxlength="2">
            <input type="text" placeholder="mm" maxlength="2">
            <input type="text" placeholder="yyyy" maxlength="4">
        </label>
    </div>
    <div class="label">
        <label for="">
            RG: <input type="text" maxlength="13">
        </label>
    </div>
    <div class="label">
        <label for="">
            CPF: <input type="text" maxlength="11"> - <input type="text" maxlength="2">
        </label>
    </div>
  </form>
</div>
