<div class="form">
  <span class="titulo">Registro</span>
  <form>
    <label for="" class="label">
      <span>Nome: </span><input type="text" />
    </label>
    <label for="" class="label">
      <span>Imagem de perfil: </span><input type="file" accept="image/*">
    </label>
    <label for="" class="label">
      <span>Login de usuário:</span><input type="text">
    </label>
    <label for="" class="label">
      <span>Senha:</span><input type="text">
    </label>
    <label for="" class="label">
      <span>Confirmar a senha:</span><input type="text">
    </label>
    <div class="label-container">
      <button type="reset">Limpar</button>
      <span style="width: 50px;"></span>
      <button type="submit">Enviar</button>
    </div>
  </form>
</div>
