<div class="form">
    <span class="titulo">Dados de login</span>
    <form>
        <div class="label">
            <label for="">Email: <input type="email"></label>
        </div>
        <div class="label">
            <label for="">Imagem de perfil: <input type="file" accept="image/*"></label>
        </div>
        <div class="label">
            Login de Usuario: <input type="text">
        </div>
        <div class="label">
            Senha: <input type="text" minlength="7" maxlength="7">
        </div>
        <div class="label">
            Confirme a senha: <input type="text" minlength="10" maxlength="10">
        </div>
    </form>
</div>